{% extends "base.html" %}
{% block content %}

    <h2 class="sub-title">{{ page_title }}</h2>
    <br>
	<div class="center-content text-sand">
        <p>
            It's all about Beach Huts.
        </p>
        <p>
            Who doesn't love a beach hut or better still a row of them. Typically wooden and painted in a variety
            of bright colours.
        </p>
        <p>
            This site is dedicated to those of us who appreciate this peculiarly British construction. 
        </p>
        <p>
            Dating from Georgian times when the rich and influential went to 'take the waters' and then
            the victorian era where modesty was the vogue. 
        </p>
        <p>
            There's no specific (polite) name for us fellow BH fanciers, let's just call us Hutters.
        </p>
    </div>

{% endblock %}