<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Beach Hut Appreciation Society website">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css"
        type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <title>Beach Hut Appreciation Society</title>


<body>
    <nav class="container">
        <div class="row">
            <div class="col-12">    
                <div class="row pb-3"></div>
                <div class="center-content">
                        <a class="btn-shadow btn-lg text-sand" aria-label="This is the current page, home" href="{{ url_for('index') }}">Home</a>
                        <a class="btn-shadow btn-lg text-sand" aria-label="Go to the page (opens in a new tab)"
                        href=#>Forum</a>
                        <a class="btn-shadow btn-lg text-sand" aria-label="Go to the page (opens in a new tab)"
                        href="{{ url_for('about') }}">About</a>
                        <a class="btn-shadow btn-lg text-sand" aria-label="Go to the contacts page (opens in a new tab)"
                        href="{{ url_for('contact') }}">Contact</a>
                        <div class="row pb-3"></div>
                </div>
            </div>
        </div>
    </nav>    
<!-- Page Header -->
    <header class="bg-image" style="background-image: url('{{ url_for('static', filename='images/hero.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1 class="title center-content">Beach Hut Appreciation Society</h1>
                    </div>
                    <div class="col-12">
                        <img class="logo-img center d-none d-xl-block" src="{{ url_for('static', filename='images/bh-tower.png') }}" alt="Beach Hut Logo"
                            aria-label="beach hut image blue and white.">
                        <div class="row pb-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- start of main content -->
    <button class="btn-sm btn-shadow" id="myHomeBtn" title="Go to top of page">Top</button>
    <div class="container-fluid pb-3 solid-border">

            
    {% block content %}
    {% endblock %}
                

    </div>

        
    <footer>
        <!-- direct email or link to comments page -->
        <div class="container-fluid solid-border">
            <div id="footer-details" class="row no-gutters">
                <div class="col-sm-6">
                    <h3 class="uppercase sub-title">Contact</h3>
                    <p class="foot-title">
                        <a href="{{ url_for('contact') }}" class="hvr-grow text-sand"
                            aria-label="go to my comments, feedback page (opens in a new tab)">Contact Admin</a>
                    </p>
                    <br>
                </div>
                <!-- Social Media Links   -->
                <div class="col-sm-6">
                    <h3 class="uppercase sub-title">Social</h3>
                    <ul class="center-content social-links">
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.facebook.com/beachutscom/?locale=en_GB"
                                aria-label="Go to my Facebook page (opens in a new tab)" class="hvr-grow">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <span class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank"
                                href="https://twitter.com/beachhutcompany"
                                aria-label="Go to my Twitter X account (opens in a new tab)" class="hvr-grow">
                                <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
                                <span class="sr-only">Twitter</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://uk.linkedin.com/"
                                aria-label="Go to my LinkedIn page (opens in a new tab)" class="hvr-grow">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                <span class="sr-only">LinkedIn</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.youtube.com/watch?v=bcStOtDIlBg"
                                aria-label="Go to my Youtube channel (opens in a new tab)" class="hvr-grow">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                                <span class="sr-only">YouTube</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.flickr.com/groups/southend_beach_hut_appreciation_society/"
                                aria-label="Go to the Southend Beach hut appreciation Society Flickr web site (opens in a new tab)"
                                class="hvr-grow">
                                <i class="fa-brands fa-flickr" aria-hidden="true"></i>
                                <span class="sr-only">flickr</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="copyright text-sand center-content col-12">Copyright &copy; B.H.A.S <span id="copyright"></span></p>
            </div>
        </div>
    </footer>
    <!-- JavaScript Scripts  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/6e6c671d1b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
    </script>
    <script>
        $("#copyright").text(new Date().getFullYear());
    </script>
</body>

</html>
