@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Original+Surfer&family=Seaweed+Script&display=swap');

/*--------------------------------------------Colours*/

body {
    background-color: #c8e4fd;
}

.image-round {
    width: 85%;
    border-radius: 15px;
    margin: 20px 0;
}

.inline-block {
    color: #af9442;
}

.section-details {
    background-color: #dffcff;
    border-color:#4203bf;
}

.list-inline-item {
    margin-bottom: 20px;
}

.width-90 {
    width: 90%;
    margin: auto;
  }

/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: 'Original Surfer', sans-serif;
}

p {
    margin: 0;
    font-family: 'Original Surfer', sans-serif;
    font-size: 25px;
}

.button-border {
    border: 3px solid #4203bf;
    border-radius: 0 0 5% 5%;
}

.text-sand {
    font-family: 'Original Surfer', sans-serif;
    color: #da5619; 
    font-weight: 700;
}

.text-cancel {
    font-family: 'Original Surfer', sans-serif;
    color: red; 
    font-weight: 700;
}

.text-green {
    font-family: 'Original Surfer', sans-serif;
    color: #46e514; 
    font-weight: 700;
}

.text-blue {
    font-family: 'Original Surfer', sans-serif;
    color: #4203bf; 
    font-weight: 700;
}

li {
    margin-right: 20px;
    font-size: 1.6rem;
}

.content-hidden {
    display: none;
}

.hide-labels {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

/*--------------------------------------------Heading*/

#header-details {
     text-align: center;
}

.hero-image {
    position: relative;
    background: url("../images/hero.jpg") no-repeat left center;
    background-size: cover;
    opacity: 0.6;
    height: 380px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
  }
  
  .hero-image-content {
    margin-top: 2%;
  }
  
  .hero-image-content h1 {
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
  }
 
/*--------------------------------------------Search Items*/

.search-format {
    background: #8fb5ed;
    padding: 10px 20px;
    border-radius: 2rem;
}

.search-bar {
    max-width: 50%;
    margin: auto;
    border-right: 0;
}
  
.search-button {
    background-color: #FBAC35;
    border: none;
}
  
.search-button:hover,
.search-button:active,
.search-button:focus,
.search-button:active:focus {
    background-color: #00008B;
}

.input-group>.form-control:not(:first-child) {
    padding: 25px;
    border-radius: 25px;
}
  
.input-group>.input-group-append>.btn {
    border-radius: 0 25px 25px 0;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px 0 0;
    border-left: 0;
}

.input-search {
    margin: 15px 0 20px;
    padding: 25px;
}

/*--------------------------------------------Images*/

.logo-img {
    max-height: 150px;
    max-width: 150px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*--------------------------------------------Containers*/
.home-container {
    margin-top: 50px;
  }
  
.thread-container {
    width:75%;
    margin: auto;
}
  
.all-thread-container {
    margin-top: 40px;
}
  
.home-titles {
    margin: 10px 20px;
}
  
.user-block {
    max-height: 100%;
    padding: 20px 30px 25px 30px !important;
}
  
.main-container {
    padding: 0 0 0 30px;
}
.user-container {
    margin-top: 15px;
}

/*--------------------------------------------Titles*/

.title {
    font-family: "Original Surfer", sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4203bf;
    text-align: center;
}

.sub-title {
    font-family: 'Seaweed Script', sans-serif;
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #03bf82;
}

.thread-title {
    font-family: "Original Surfer", sans-serif;
    font-size: 1.5rem!important;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4203bf;
    text-align: center;
    text-transform: capitalize;
}

/* can change title color quickly for all titles */
.title-color {
    color: #4203bf;
    text-align: center;
    text-transform: capitalize;
}

.center {
    margin: auto;
}

.center-content {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.flashes {
    font-family: 'Seaweed Script', sans-serif;
    font-size: 35px;
    text-align: center;
}

.flashes li {
    list-style: none;
}

.error-flash {
    color: #D10000;
}
  
.success-flash {
    color: #da5619;
}

/*--------------------------------------------Threads*/

.custom-select[multiple] {
    height: auto;
    max-height: 100px;
    overflow-y: auto;
    width: 40%;
}
  
.custom-select {
    width: 100%;
}
  
.submit-thread-form {
    width: 80%;
    margin: auto;
}

.submit-content-form {
    width: 80%;
    margin: auto;
}

.index-format {
    background: #8fedcb;
    padding: 10px 20px;
    border-radius: 2rem;
}

.users-format {
    background: #908fed;
    border-radius: 12px;
    padding: 10px 20px;
    border-radius: 2rem;
}

.user-display {
    background: #79c7e5;
    width: auto;
    border-radius: 12px;
    padding: 10px 20px;
    border-radius: 2rem;
}

.no-indent {
    text-indent: 0;
}

/*--------------------commentForm--------------------*/

.commentForm {
    margin-bottom: 10px;
  }
    
  .comment-body {
    background-color: #8fedcb;
    margin: 5px 15px;
    width: auto;
    padding: 10px 15px;
    border-radius: 15px;
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); */
  }
  
  .comment-date {
    font-size: 0.7rem;
    margin-top: -10px;
    margin-bottom: 0;
    font-weight: bold;
  }
  
  .comments {
    margin-top: 15px;
  }
  
  .comment-header {
    text-transform: lowercase;
    font-size: 0.9rem;
  }


/*--------------------------------------------Tags*/

.tag-format {
    background: #ffab84;
    color: #4203bf;
    font-weight: 700;
    border-radius: 15px;
    padding: 0 10px;
    font-size: 1.25rem;
    Margin: 15px;
  }
  
  
/*--------------------------------------------cards*/

.tag-card {
    padding: 10px 15px;
    margin: 20px 10px;
    min-height: 120px;
    text-align: center;
    background: #b5ac69;
    color: #00008B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
  }
  
  .tag-card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .tag-form {
    color: #da5619;
    font-size: 1rem!important;
    font-weight: 700;
  }

  .pad-input {
    margin: 20px 0;
  }

/*--------------------------------------------footer*/

footer {
    color: #fff;
    min-height: 120px;
}

.social-links {
    padding-left: 1em;
    padding-top: 1em;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #1c1818;
    background: #da5619;
    transition: all 0.35s ease-in-out;
}

#footer-details {
    text-align: center;
}

.solid-border {
    border-style: solid;
    border-width: 2px 0 0;
    border-color:#4203bf;
}

.copyright {
    font-family: 'Original Surfer', sans-serif;
    text-align: center;
    color: #da5619; 
    font-weight: 500;
    font-size: 1.15rem;
}

/* ----------------------------------------forum specific formatting */

.forum-post {
    background-color:#a7c2fd;
    border-style: solid;
    border-width: 4px;
    border-color:#da5619;
    border-radius: 2rem;
}

.indent-post {
    margin: 20px;
}

.btn-font {
    font-size: 16px!important;
}

.thread-tag-title {
    font-size: 0.9rem;
}
  
.thread-tag-title p{
     margin-bottom: 0.3rem;
}
  
.thread-tags {
    margin-bottom: 5px;
    margin-left: 0;
}

/* ----------------------------------------Contact Form */

.comment-text {
    font-size: 24px;
    font-weight: 600;
}

.text-muted-wcag {
    /* to provide sufficient WCAG contrast */
    color: #4203bf !important; 
} 

/* ----------------------------------------form-control settings*/

.form-control {
    font-size: 1.5rem;
    font-weight: 500;
    color: #af9442;
    background-color: #efe6a4;
    border: 2px solid #da5619; 
    border-right: 0;  
    border-radius: 2rem;
}

.form-group {
    color: #4203bf;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.form-container {
    width: 75%;
    padding: 40px 0;
    margin-top: 25px;
    border-radius: 15px;
    background-color: #2cceff;
}

.form-upd-back {
    background-color: #b4dbb6;
}

.label-font-size {
    font-size: 24px;
}

input[type=radio] {
    width: 20px;
    height: 20px;
    color: red;

}

/* **SELECT2** */

.select2-selection__choice {
    background-color: #007bff !important;
    border: 1px solid #006fe6 !important;
    border-radius: 20px !important;
    padding: 0 10px !important;
    color: white !important;
  }
  
  .select2-selection__choice__remove {
    color: white !important;
    cursor: pointer;
    margin-right: 5px;
  }
/* ----------------------------------------fixed size on page with scrollbar */

textarea {
    min-height: 200px;
    max-height: 300px;
    resize: none;
}

.btn-block {
    background-color: #4203bf;
    color: #e8edf3;
    border: 3px solid #4203bf;
    font-weight: 600;
    font-size: 16px;
    margin-top: 50px;
    text-align: left;
    padding: 0 20px;
    border-radius: 2rem;
}

.btn-block:hover {
    background-color: #967c93;
    color: #f0f0f0;
}

.btn-primary {
    background-color: #0054ad;
}

.btn-secondary {
    background-color: #007bff;
    color: #469207;
    border-radius: 2rem;
    margin: 25px;
    border: 5px solid #bf9403;
}

.btn-search {
    background-color: #efe6a4;
    color: #4203bf;
    border: 2px solid #da5619;   
    border-radius: 2rem;
}

.btn-secondary:hover {
    background-color: #4203bf;
    color: #01080f
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 22px;
}

.modal-btn {
    font-size: 44px;
    font-weight: 500;
    color: #469207;
    background-color: #b6cee9;
}

.btn-circle {
    border-radius: 50%;
}

.btn-lg {
    background-color: #e5f1a4;
    border-radius: 2rem;
    padding: 6px 12px;
    border: .2rem solid #da5619;
}

.btn-cancel {
    background-color: #e5f1a4;
    font-size: 22px;
    color: red;
    margin: 15px 0 20px;
    border-radius: 2rem;
    border: .2rem solid #da5619;
}

.btn-delete {
    background-color: #e5f1a4;
    font-size: 22px;
    color: red;
    margin: 15px 0 20px;
    border-radius: 2rem;
    border: .2rem solid #da5619;
}

.btn-admin {
    background-color: #46dd80;
}

.btn-lg:hover {
    /* border: 3px solid #e5f1a4; */
    text-decoration: none;
}

/* ----------------------------------------hovering home button */
/* w3schools.com example with changes to formatting and trigger moved from html to js */

#myHomeBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 15px; 
    z-index: 99; 
    border: 5px solid #c0742d;
    border-radius: 25%; 
    outline: none; 
    background-color: #4203bf;
    color: white; 
    cursor: pointer; 
    padding: 5px; 
    font-size: 18px;
  }

/* ----------------------------------------reverse colors on hover */
#myHomeBtn:hover {
    border: 5px solid #4203bf;
    background-color: #e71867;
  }

/* ----------------------------------------change shape and text color of active menu item */

.btn-lg.active {
    border-radius: 50%;
    color: #2be712 !important;
}

/* ----------------------------------------contrasts to comply with WCAG */

.btn-home {
    background-color: #0f5661;
    color: white;
}

.btn-message {
    background-color: #003b7a;
    color: #da5619;
}

a {
    color: #002a57;
}

.btn-lg:hover {
    background-color: #4203bf;
    color: #fff;
    font-weight: 500;
}

/* ----------------------------------------The Modal (background) */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  }
  
  .contact-modal-content {
    background-color: #94c2e7;
    margin: 5% auto; /*top and centered */
    padding: 20px;
    border: 5px solid #bf9403;
    border-radius: 5%;
    width: 80%; 
  }

  .modal-backdrop {
    position: relative;

  }

  .modal-body {
    background-color: #c0ffdf;
  }

  .modal-footer {
    display: block;
    background-color: #c0ffdf;
    border-radius: 0 0 15px 15px;
  }

  .modal-content {
    display: block;
    border-radius: 15px;
  }

  .modal-header {
    display: block;
    background-color: #e91005;
    border-radius: 15px 15px 0 0;
  }
  
/* ----------------------------------------Media Queries */

/* ----------------------------------------Amend modal width and height on larger screen sizes. */

@media (min-width: 1400px) {
    .contact-modal-content {
        width: 50%;
    }
}

@media (max-width: 1800px) {
    .thread-container {
        width: 95%;
    }
}

@media (max-width: 950px) {
    .form-container {
        width: 95%;
    }
    h3 {
        font-size: 16px
    }
    h5 {
        font-size: 18px
    }
    p {
        font-size: 1.3rem;
    }
}

@media (max-width: 780px) {
    li {
        font-size: 1.2rem;
    }
}

@media (max-width: 460px) {
    .btn-lg {
        font-size: .7rem;
    }
    .hero-image-content h1 {
        font-size: 1.8rem;
    }
    h2 {
            font-size: 1.4rem;
    }
    .tag-form {
        font-size: .5rem!important;
    }
}

