{% extends "base.html" %}
{% block content %}

    <div class="col-12 text-center mt-4 text-uppercase title-color"><h1>{{page_title}}</h1></div>
    <br>
    
    <div class="center-content text-sand col xl-12 col-lg-8 col-md-10 mx-auto">
        <p>
            It's all about Beach Huts.
        </p>
        <br>
        <p>
            Who doesn't love a beach hut or better still a row of them.
        </p>
        <br>
        <p> Typically wooden and painted in a variety
            of bright colours like these at Holywell in Eastbourne.
        </p>
        <img class="image-round" src="{{ url_for('static', filename='images/holywell.jpg') }}" alt="Beach Huts at hollywell"
            aria-label="row of beach huts at holywell Eastbourne.">
        <p>
            This site is dedicated to those of us who appreciate this peculiarly British construction. 
        </p>
        <br>
        <p>
            Dating from Georgian times when the rich and influential went to 'take the waters' in 'Bathing Huts' and then
            the victorian era where modesty was the vogue. 
        </p>
        <img class ="image-round" src="{{ url_for('static', filename='images/bathing-huts.jpg') }}" alt="Bathing huts pre victorian"
            aria-label="black and white illustration of bathing huts on the thames circa 1800.">
        <p>
            There's no specific (polite) name for us fellow BH fanciers, let's just call us Hutters.
        </p>
    </div>
  

{% endblock %}