{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
          <div class="col-12 center-content">
            <br>
            <h1 class="text-uppercase text-center title-color">
                {{ page_title }}
                </h1>
                <br>
                <div class="text-blue">
                <p>For User: <span class="text-sand">{{ user.email_address }}</span> </p>
                </div>    
            </div>
        </div>
      </div>
      <div class="container-fluid form-container form-upd-back">
        <div class="row">
          <div class="col-1 col-md-2">
          </div>
          <div class="col-10 col-md-8">
            <form id="adminUpatedUser" method="POST" >
              <br>
              <h3 class="text-center text-sand">Admin Only Page</h3>
              <br>
              <h3 class="text-center text-blue">Use with Care</h3> 
              <br>
              <div class="form-group">
                <label class="text-sand" for="username">Username (max 25)</label>
                <input type="text" maxlength="25" class="form-control" id="username" name="username"
                  value = "{{ user.username }}" required >
              </div>
              <div class="form-group">
                <label class="text-sand" for="fname">First Name (max 20)</label>
                <input type="text" maxlength="20" class="form-control" id="fname" name="fname"
                  value ="{{ user.fname }}" required>
              </div>
              <div class="form-group">
                <label class="text-sand" for="lname">Last Name (max 30)</label>
                <input type="text" maxlength="30" class="form-control" id="lname" name="lname"
                  value ="{{ user.lname }}" required>
              </div>
              <div class="form-group">
                <label class="text-sand" for="password">Password (max 25) - Only enter to change</label>
                <input type="password" maxlength="25" class="form-control" id="password" name="password">
              </div>
              
              <!-- set radio buttons according to site admin status -->
              {% if not user.site_admin %}
              <div class="form-row">
                <div class="col-4"></div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                   value="False" checked>
                  <label class="form-check-label text-sand" for="inlineRadio1">Ordinary User</label>
                </div>
              </div>
              <div class="form-row">
                <div class="col-4"></div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="True">
                  <label class="form-check-label text-sand" for="inlineRadio2">Site Admin</label>
                </div>
              </div>
              {% else %}
              <div class="form-row">
                <div class="col-4"></div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="False">
                  <label class="form-check-label text-sand" for="inlineRadio1">Ordinary User</label>
                </div>
              </div>
              <div class="form-row">
                <div class="col-4"></div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                   value="True" checked>
                  <label class="form-check-label text-sand" for="inlineRadio2">Site Admin</label>
                </div>
              </div>
              {% endif %}
            <br>
            <div class="form-row text-center">
              <div class="col">
                <a href="{{ url_for('cancel') }}" class="btn btn-cancel hvr-grow text-cancel">
                  <span class="text-danger fa-solid fa-circle-xmark"></span> <strong>Cancel</strong></a>
                  <div class="divider"></div>
                <span> <button type="submit" class="btn-lg hvr-grow text-success"><span class="text-success fa-solid fa-file-pen">
                </span><strong> Update</strong></button></span>
                <div class="divider"></div> 
                {% include 'delete_user_modal.html' %}         
              </div>
            </div>
          </form>
          </div>
          <div class="col-1 col-md-2">
          </div>
        </div>
      </div>
  

{% endblock %}