
<div class="comments forum-post">
  <div class="comments-header text-blue">
    <!-- https://www.digitalocean.com/community/tutorials/
         how-to-use-one-to-many-database-relationships-with-flask-sqlalchemy -->
      <h3 class="indent-post"><strong><span class ="text-sand">{{ comments.author.username }}</span>
        commented :</strong></h3>
      <h4 class="indent-post"><span class ="text-sand">on post: </span></span>
        <span ><a class="text-blue" href="{{url_for('get_thread_title', thread_id=comments.thread_id) }}"><strong>
        {{ comments.thread.thread_title }}</strong></a></span></h4>
  </div>
  <div class="comment-body">
      <h3 class="text-sand">{{ comments.comment_body }}</h3>
      <br>
      <h4 class="text-info"><span class="text-blue">posted on:</span> {{ comments.created_td.strftime('%d-%m-%Y') }} <span class="text-blue">
          at </span> {{ comments.created_td.strftime('%H:%M') }}</h4>
      <div>
      {% if current_user.is_authenticated %}
          {% if current_user.id == comments.author_id %}
          <br>
          <div class="text-center card-action">
              <a href="{{url_for('edit_comment', comments_id=comments.id)}}"
              class="btn btn-info btn-circle">Edit</a>
              {% include 'delete_comment_modal.html' %}
          </div>
            {% endif %}
          {% endif %}       
      </div>
  </div>
  <br>