<!-- show first comment only to avoid busy screen -->
<div class="comments">
    {% for comments in thread.comments %}
    {% if loop.index == 1 %}
    <br>
    <div class="comments-header text-blue">
        <h3 class="indent-post"><strong><span class ="text-sand">{{ comments.author.username }}</span> commented: </strong></h3>
    </div>
    <div class="comment-body">
        <h3 class="text-sand">{{ comments.comment_body }}</h3>
        <br>
        <h4 class="text-info"><span class="text-blue">posted on:</span> {{ comments.created_td.strftime('%d-%m-%Y') }} <span class="text-blue">
            at </span> {{ comments.created_td.strftime('%H:%M') }}</h4>
        <div>
        {% if current_user.is_authenticated %}
            {% if current_user.id == comments.author_id %}
            <br>
            <div class="text-center card-action">
                <a href="{{url_for('edit_comment', comments_id=comments.id)}}"
                class="btn btn-info btn-circle">Edit</a>
                {% include 'delete_comment_modal.html' %}
            </div>
            {% else %}
        <!-- check if site admin and if so, allow comment deletion -->
                {% if current_user.site_admin %}
                <br>
                <div class="text-center card-action">    
                <a href="{{url_for('edit_comment', comments_id=comments.id)}}"
                    class="btn btn-info btn-circle">Edit</a>
                {% include 'delete_comment_modal.html' %}         
                </div>
                {% endif %}
            {% endif %}       
        {% endif %}
        </div>
    </div>
    <br>
    {% endif %}
    {% endfor %}
</div>
<!-- If more than one reply, link to view full thread -->
{% if thread.comments|length > 1 %}
<div class="text-center">
<a  class="btn btn-lg font-weight-bold btn-font text-success" href="{{url_for('view_full_thread', thread_id=thread.id)}}"> 
    <span class="text-info fa-solid fa-eye"></span> View Full Post</a>
</div>
{% endif %}