{% extends "base.html" %}
{% block content %}
            <!-- Contact Form -->
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">


                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class="flashes">
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
            
            
                    <a id="start-of-form"></a>
                    <!-- <div class="col-md-2 col-lg-3 col-xl-4 ">
                    </div> -->
                    <div class=" text-sand">
                        <h2 class="sub-title">{{ page_title }}</h2>
                        <br>
                        <h2>
                            Please complete the form below to send Admin an email.
                        </h2>
                        <h2>
                            I aim to respond to messages within 48 hours.
                        </h2>
                        <br>
                        <form method="POST" name="sentmessage" id="contactForm">
                            <div class="form-group">
                                <label for="fullname">Full Name:</label>
                                <input type="text" name="name" id="fullname" class="form-control"
                                    placeholder="Full Name" required autocomplete="on">
                            </div>
                            <div class="form-group">
                                <label for="emailaddress">Email Address:</label>
                                <input type="email" name="email" id="emailaddress" class="form-control"
                                    placeholder="Email" required autocomplete="on">
                                <small id="emailhelp" class="form-text text-sand">We'll never share your email
                                    with anyone else</small>
                            </div>
                            <div class="form-group">
                                <label for="feedbackmessage">Message:</label>
                                <!-- text area set to scroll with a maximum input of 280 characters -->
                                <textarea maxlength="280" name="feedbackmessage" id="feedbackmessage"
                                    class="form-control" placeholder="What do you want to tell me?" required></textarea>
                                <small id="maxchar" class="form-text text-sand">Maximum of 280 characters</small>
                                <!-- Muted text contrast enhanced for wcag compliance -->
                            </div>
                            <div class="form-row text-center">
                                <div class="col">
                                    <button type="submit" class="btn-lg hvr-grow text-sand">Message Me!</button>
                                </div>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
{% endblock %}  