{% extends "base.html" %}
{% block content %}

<div class="container home-container">
  
  <form method="POST" class="account-form submit-thread-form">
    <h3 class="text-center account-title mb-3">Edit Your Question</h3>
    <div class="form-group">
      <label for="thread_title">Thread Title</label>
      <input type="text" class="form-control" id="thread_title" name="thread_title"
        placeholder="Post title" value="{{ thread.thread_title }}" required>
    </div>
    <div class="form-group">
      <label for="thread_body">Thread</label>
      <textarea class="form-control" id="thread_body" name="thread_body"
        placeholder="Post away. Remember, it's nice to be nice." required>{{ thread.thread_body }}</textarea>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="thread_confirm" name="thread_confirm" required>
      <label class="form-check-label" for="thread_confirm">Keep it polite and friendly and tick this to confirm</label>
    </div>
    <div class="text-center">
    <button type="submit" class="btn btn-success btn-circle">Update</button>
    </div>
  </form>
</div>
{% endblock %}