{% extends "base.html" %}
{% block content %}

{% if current_user.is_authenticated %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-lg-2 col-md-2"></div>
    <div class="col-xl-6 col-lg-8 col-md-8">
      <div class="user-display home-container text-blue">
        <div>
          <!-- capitalise first letter of first name -->
          <h4>Hi, <span class="first-capital">{{ current_user.fname }}</span></h4>
          <div class ="center-content">
            <p class="text-center">Here's your profile information:</p>
            <br>
            <div>
              <p>Username:  <span class="text-sand">{{ current_user.username }}</span></p>
              <br>
              <p><a class="btn-lg text-success" aria-label="Go to the edit post page (opens in a new tab)" href="{{url_for('edit_user', id=user.id)}}">
                <span class="text-info fa-solid fa-user-pen"></span> Edit Profile</a> </p>
              <br>
              <p>Forum Posts:  <span class="text-sand">{{ user_thread_count }}</span></p>
              <br>
              <p>
                <a class="btn-lg text-success" aria-label="Go to the view all posts page (opens in a new tab)" href="{{url_for('my_threads')}}">
                  <span class="text-info fa-solid fa-binoculars"></span> View My Posts</a> 
              </p>
              <br>
              <p>Member Since:  <span class="text-sand">{{ current_user.created_td.strftime('%B %d, %Y') }}</span></p>
              <br>
              <p>
              <a class="btn-lg text-success " aria-label="Go to the new post page (opens in a new tab)" href="{{ url_for('submit_thread') }}">
                <span class="text-info fa-solid fa-square-plus"></span> Create A New Post</a>
              </p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
<!-- user not logged in so display login prompt -->
<div class="container-fluid ">
  <br>
  <div class="row">
    <div class="col-12 col-xl-8 col-lg-8 col-md-10 mx-auto text-center forum-post">
      <p class="text-sand text-center">You need to<span class="text-blue"> Signup</span>
         or <span class="text-blue"> Login</span>
        before you can post and comment on existing posts</p>
      </div>
  </div>
  <br>
</div>
{% endif %}

    <!-- Build list of all threads, newest first -->
<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col xl-12 col-lg-8 col-md-10 mx-auto index-format">
      <h2 class="text-center text-sand">All Recent Posts</h2>
      <br>  
      <div>
        {% for thread in threads %}
        {% include 'build_threads.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}