{% extends "base.html" %}
{% block content %}

{% if current_user.is_authenticated %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-lg-2 col-md-2"></div>
    <div class="col-xl-6 col-lg-8 col-md-8">
      <div class="user-display home-container text-blue">
        <div>
          <h4>Hi, {{ current_user.fname }}</h4>
          <br>
          <p class="text-center">Here's your profile information:</p>
          <br>
          <div class="user-info">
            <p>Username:  <span class="text-sand">{{ current_user.username }}</span></p>
            <br>
            <p>Forum Posts:  <span class="text-sand">{{ user_thread_count }}</span>
              <a class="btn-lg text-success" href="{{url_for('my_threads')}}">View All</a> </p>
            <br>
            <p>Member Since:  <span class="text-sand">{{ current_user.created_td.strftime('%B %d, %Y') }}</span></p>
            <br>
            <p class="text-right no-indent">
            <a class="btn-lg hvr-grow text-sand " aria-label="Go to the page (opens in a new tab)"
              href="{{ url_for('submit_thread') }}">Create A <span class="text-info fa-brands fa-microblog">
              </span> New Post</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
<!-- user not logged in so display list of posts -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-lg-2 col-md-2"></div>
    <div class="col-xl-6 col-lg-8 col-md-8">
      <br>
      <p class="text-blue text-center">You need to login <a class="btn-lg hvr-grow text-sand" aria-label="Go to the login page"
         href="{{ url_for('login') }}"><span class="text-info fa-solid fa-warehouse"></span> Log In</a>
          or <a class="btn-lg hvr-grow text-sand" aria-label="Go to the signup page" href="{{ url_for('sign_up') }}"><span class="text-info fa-solid fa-user-plus"></span> Sign Up</a>
           before you can post and add comments to existing posts</p>
    </div>
  </div>
</div>
{% endif %}

    <!-- Build list of all threads, newest first -->
<div class="container-fluid home-container">
  <div class="row">
    <div class="col xl-12 col-lg-8 col-md-10 mx-auto index-format">
      <h2 class="text-center text-sand">All Recent Posts</h2>
      <br>  
      <div>
        {% for thread in threads %}
        {% include 'build_threads.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}