{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center mt-4 text-uppercase title-color"><h1>{{page_title}}</h1></div>
  </div>
</div>

<!-- Bootstrap form template used (https://getbootstrap.com/docs/4.6/components/forms/) -->
<div class="container-fluid form-container">
  <div class="row">
    <div class="col-1 col-md-2"></div>
    <div class="col-10 col-md-8">
      <form method="POST">
        <h3 class="text-center text-sand mb-3">To</h3>
        <h3 class="text-center text-sand mb-3">Access Your Account</h3> 
        <br>
        <div class="form-group">
          <label for="loginEmail" class="text-blue">Email address</label>
          <input type="email" autofocus="autofocus" class="form-control" id="loginEmail" name="loginEmail" placeholder="Email Address" required>
        </div>
        <div class="form-group">
          <label for="password" class="text-blue">Password</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
        </div>
        <div class="form-group form-check text-center">
          <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me">
          <label class="form-check-label" for="remember_me">Remember Me</label>
          <small id="signuphelp" class="form-text text-blue"><strong>Do NOT select if you are using a public/shared computer.</strong></small>
        </div>
        <div class="form-row text-center">
          <div class="col">
            <button type="submit" class="btn-lg hvr-grow text-sand"><span class="text-info fa-solid fa-warehouse"></span> Log In</button>
          </div>
        </div>  
      </form>
    </div>
    <div class="col-1 col-md-2"></div>
  </div>
</div>
{% endblock %}