{% extends "base.html" %}
{% block content %}

<div class="container-fluid width-90 text-center">
    <br>
    <br>
    <h1 class="text-uppercase text-sand">
      {{ page_title }}
    </h1>
</div>

<div class="container-fluid home-container">
  <div class="row">
    <div class="col xl-12 col-lg-8 col-md-10 mx-auto index-format users-format">
{% for user in users %}
  <div class="forum-post">
  <div class="thread-title text-justify indent-post">
    <h3 class="center-content">User ID: <span class="text-sand">{{ user.id }}</span></h3>
      <h3 class="pad-input">Username: <span class="text-sand">{{ user.username }}</span></h3>
      <h3 class="pad-input">Email Address: <span class="text-sand">{{ user.email_address }}</span></h3>
      <h3 class="pad-input">Name: <span class="text-sand">{{ user.fname }} {{ user.lname }}</span></h3>
      {% if user.site_admin %}
      <h3 class="pad-input">Admin Status: <span class="text-success"><strong>{{ user.site_admin }}</strong></span></h3>
      {% else %}
      <h3 class="pad-input">Admin Status: <span class="text-danger"><strong>{{ user.site_admin }}</strong></span></h3>
      {% endif %}
      <br>
    </div>
  </div>
  <br>
{% endfor %}
</div>
</div>
</div>


{% endblock %}