{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 justify-content-center text-center">
      <a href="{{url_for('add_tag')}}" class="btn btn-primary acc-btn">
        Add Tag <i class="fas fa-plus-square right"></i>
      </a>
    </div>
  </div>
  <div class="row container-fluid tag-container">
    {% for tag in tags %}
    <div class="col-10 offset-1 offset-md-0 col-md-4 col-lg-3 col-xl-2">
      <div class="card tag-card">
        <div class="card-content white-text topic-content">
          <h5 class="card-title tag-card-title text-uppercase">{{ tag.tag_name }}</h5>
        </div>
        {% if current_user.is_authenticated %}
        <div class="card-action">
          <!-- Modal Trigger -->
          <button type="button" class="btn btn-danger" data-toggle="modal"
            data-target="#modal-{{ tag.id }}">Delete</button>
          <!-- Modal Structure -->
          <div class="modal fade" id="modal-{{ tag.id }}" tabindex="-1" role="dialog"
            aria-labelledby="modal-{{ tag.id }}Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal-{{ tag.id }}Label">Delete Tag?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  This will permanently delete this tag, This action cannot be undone.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a class="btn btn-danger" href="{{url_for('delete_tag', tag_id=tag.id) }}">
                    Confirm Deletion
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}