{% extends "base.html" %}
{% block content %}
<div class="container-fluid ">
    <h2 class="text-center text-sand">View Full Thread</h2>
    <br>
    <div class="threads col-12 col-md-10 offset-md-1">
      <div class="forum-post">
        <div class="thread-title">
          <p>{{ thread.thread_title }}</p>
        </div>
        <div class="thread-body">
          <p class="indent-post text-sand">{{ thread.thread_body }}</p>
        </div>
        <br>
        <div class="thread-tag-title">
          <p class="indent-post text-blue"><strong>Category Tags</strong></p>
        </div>
         <div class="container-fluid">
            <div class="row indent-post">
              
            {% for tag in thread.tags %}
              <div><span class="tag-format text-center">{{ tag.tag_name }}</span></div>
              
            {% endfor %}
            </div>
          </div>
          <div class="thread-author">
            <p class="indent-post text-info">
              Created By:: <span class="font-weight-bold text-sand">{{ thread.author.username }}</span> on
              <span class="font-weight-bold text-sand">{{ thread.created_td.strftime("%d %B, %Y") }}</span>
            </p>
          </div>
          {% if current_user.is_authenticated %}
          <div id="commentForm" class="d-none commentForm" data-thread-id="{{ thread.id }}">
            <form action="{{ url_for('submit_comments', thread_id=thread.id) }}" method="POST">
              <div class="form-group">
                <label for="commentBody">Comment:</label>
                <textarea class="form-control" id="commentBody" name="comment_body" rows="6" required></textarea>
              </div>
              <button class="btn btn-secondary" onclick="hideCommentForm('{{ thread.id }}')">Cancel</button>
              <button type="submit" class="btn btn-primary acc-btn">Submit Reply</button>
      
            </form>
          </div>
          <div class="text-center">
            <a class="btn btn-success btn-circle" onclick="showCommentForm('{{ thread.id }}')">Comment</a>
            {% if current_user.id == thread.author_id %}
            <a href="{{url_for('edit_thread', thread_id=thread.id)}}" class="btn btn-info btn-circle">Edit</a>
            {% include 'delete_thread_modal.html' %}
            {% endif %}
          </div>
          <div class="comments">
            {% for comments in thread.comments %}
            <div class="comments-header text-center text-blue">
                <!-- Display the comment author and details/posting date -->
                <h4><strong>{{ comments.author.username }} commented :</strong></h4>
            </div>
            <div class="comment-body">
                <p class="text-sand">{{ comments.comment_body }}</p>
                <br>
                <p class="text-info"><span class="text-blue">posted on:</span> {{ comments.created_td.strftime('%d-%m-%Y') }} <span class="text-blue">
                   at </span> {{ comments.created_td.strftime('%H:%M') }}</p>
            </div>
            {% endfor %}
        </div>
          {% endif %}
      
        </div>
      </div>
</div>
{% endblock %}